<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header color="primary">
        <ion-toolbar color="primary">
          <ion-avatar>
            <ion-img src="/../assets/imagenes/lobo2.png"></ion-img>
          </ion-avatar>

          <ion-title><h1>Encofrado App</h1></ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <br />
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon" color="primary"></ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
